<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医院介绍</title>
</head>
<body  background = "images/hospitalinfo.jpg">
<div style="margin-top: auto;margin-left: 20px;margin-right: 20px">
<span style="font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center">
    ***医院（简称“***医院”）建于1958年，国家卫生健康委委管医院，集医疗、教学、科研、预防、康复与保健为一体的综合性三甲医院。2018年底，在岗职工5157人，开放床位1891张。医院有36个临床科室、10个医技科室。有27个博士点、1个临床博士后流动站。在岗博士生导师57人，中国科学院院士1人、中国工程院院士2人，国家千人计划1人，国家自然科学基金杰出青年基金获得者3人、科技部“973”首席科学家1人、教育部“长江学者特聘教授”2人，2人入选国家级“新世纪百千万人才工程”，青年千人计划1人，国家自然科学基金优秀青年科学基金获得者4人，卫生部突出贡献专家10人。

　　***医院脊柱外科是国内最强的学科，生殖医学中心的治疗方法最全面、规模是国际最大之一，中国大陆首例试管婴儿在此诞生。运动医学研究所是新中国最早成立、国内唯一的中国奥委会指定运动员伤病防治中心。眼科在眼外伤、角膜移植、白内障和青光眼等方面处于国内第一方阵；消化科在溃疡病发病机制研究及治疗、早期胃癌的诊疗等领域居国内前列；心血管内科在冠心病介入治疗、心脏病人康复治疗、心血管临床与基础协调发展等方面成绩突出；成形科、职业病科是国内率先成立的临床特色学科。

　　经过几代人的共同努力，***医院已跻身国内三甲医院第一方阵。医院拥有20个国家临床重点专科：骨科、药剂科（临床药学）、病理科、专科护理、检验科、消化科、妇科、产科、职业病科、耳鼻喉科、心血管分子生物学与调节肽重点实验室、呼吸内科、神经内科、普通外科、泌尿外科、眼科、麻醉科、康复医学科、成形科（整形外科）、运动医学科。妇产科为国家妇产疾病临床医学研究中心，产科、康复医学科为国家产科专业、国家康复医学医疗质量管理和控制中心。

　　十多年来，***医院门、急诊量始终居于北京市前列。2018年，服务门诊患者403万余人次，急诊患者近27万人次，出院患者逾11万人次，完成手术6.3万例次。平均住院日为5.51天/人次。在北京市DRGs（疾病诊断相关组）综合评价中，***医院各项主要管理指标达先进水平。在***医院出院患者中，有三分之一来自全国各地。

　　***医院有18个北京市住院医师规范化培训专业基地、2个国家卫生健康委员会专科医师规范化培训基地、2个北京市住院医师规范化培训技能考核中心。作为北京大学临床医学院，每年有近800名医学生、350余名博士生、硕士生。同时，承担着1500余名进修医生和近400名北京市住院医师规范化培训任务。每年有100个国家级和北京市级继续医学教育项目。

　　***医院有3个教育部创新团队：骨科、运动医学研究所、妇产科；3个教育部重点实验室：辅助生殖、分子心血管学（参与）和视觉损伤与修复（参与）；1个国家卫生健康委重点实验室：心血管分子生物学与调节肽；8个北京市重点实验室：磁共振成像设备与技术、脊柱疾病研究、生殖内分泌与辅助生殖技术、心血管受体研究、运动医学关节伤病、幽门螺杆菌感染与上胃肠疾病、眼部神经损伤重建保护与康复、神经退行性疾病生物标志物研究及转化。
</span>
</div>
</body>
</html>