<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科室介绍</title>
</head>
<body  background = "images/hospitalinfo.jpg">
<div style="margin-top: auto;margin-left: 20px;margin-right: 20px">
<span style="font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center">
    医务处是协助主管副院长对全院医疗工作和医疗行政工作实施组织管理的职能部门。医务处的职能主要是组织全院各专业科室正常地进行医疗业务工作，保证各科室间工作紧密联系、密切配合，对病人实施完善的医疗服务，办理日常的医疗事务。一、根据院长的指示，拟定全院医疗工作计划和起草医疗工作总结。
　　二、制订、修改院内与医疗有关的制度、指标和文件。
　　三、根据国家颁发的条例、制度、标准，结合医院实际情况，组织全院医务人员认真贯彻执行，保证医疗工作的正常运行，积极防范医疗事故，减少医疗缺陷。
　　四、检查评定医疗效果、各科医疗指标，包括诊断符合率、治愈率、平均住院日等的完成情况，有无医疗缺陷。做好医疗信息的收集、整理、评价，及时向院领导汇报和提出建议，做好院长的参谋和助手。
　　五、经常了解并协调各科室的医疗工作，检查分析各科室的医疗工作质量，通过信息反馈保证医疗工作正常运行。
　　六、负责医疗工作的内外联系，承办来往公文，办理日常医疗事务，负责组织医疗力量，保证抢救的应急能力。
　　七、负责组织院内重大会诊及联系院外会诊。
　　八、根据上级要求，组织完成临时性医疗任务。个国家卫生健康委重点实验室：心血管分子生物学与调节肽；8个北京市重点实验室：磁共振成像设备与技术、脊柱疾病研究、生殖内分泌与辅助生殖技术、心血管受体研究、运动医学关节伤病、幽门螺杆菌感染与上胃肠疾病、眼部神经损伤重建保护与康复、神经退行性疾病生物标志物研究及转化。
</span>
</div>
</body>
</html>